
<div class="container" id='experience-instance-dates'>
      <%= simple_form_for([experience, instance], remote: true) do |f| %>
        <%= f.input :start_time, label: "Add a session", as: :string, type: :text %>
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
    <% end %>
</div>

 <%#= f.input :start_time, label: "Book a date:", as: :string, type: :text, input_html: {data: {controller: "flatpickr",
