// Define variables for your color scheme
$light-gray: #F6F4F2;
$black: #141414;
$light-orange: #FFCBAC;
$peach: #FFBD59;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

