// Specific CSS for your home-page
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}


#pay-success-div {
  margin: 70px;
  padding: 40px;
  background-color: white;
  border: solid 1px gray;
  border-radius: 2px;
}


#exp-debit-price {
    margin-left: 200px;
    margin-top: 100px;
}
