// Specific CSS for your home-page
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}


#pay-success-div {
  margin: 70px;
  margin-left: 400px;
  margin-right: 400px;
  padding: 40px;
  background-color: white;
  border: solid 1px white;
  border-radius: 5px;
  text-align: center;
}

#pay-success-buttons {
  width: 200px;
  margin: 10px;
  font-weight: bold;
}


#exp-debit-price {
    margin-left: 200px;
    margin-top: 100px;
}

#justify-page-numbers {
  text-align: center;
}


.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
  margin-left: 15px;
  border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}
