.image-slider {
  position: relative;
  width: 100px;
}

.image-slider_image {
  display:block;
  width: 100px;
  border-radius: 10px;
}


// show-page_menu-header
.show-page_menu-header {
  position: sticky;
  margin-bottom: 30px;
  top: 73px;
}

.class-page-menu {
  background: white;
}

.class-page-menu_wrapper {
  display: flex;
  flex-direction:row;
  justify-items: center;
  justify-content: center;
  padding: 10px;
}

.class-page-menu_menu-list {
  display: flex;
}

.class-page-menu_link {
  font-weight: 500;
  line-height: 110%;
  margin-right: 40px;
  text-decoration: none;
  letter-spacing: .03em;
  font-size: 18px;
  align-self: center;
  font-family: Poppins;
  color: $black;
}


// .main-container {
//   max-width: 1200px;
//   margin: 0 auto;
// }

// .exp-card {
//   // background: white;
//   // border-radius: 20px;
//   padding: 20px;
// }

// .row {
//   display: flex;
//   margin-top: 40px;
// }

// .border-bottom {
//   margin-bottom: 15px;
// }

// .column-form {
//   // flex: 40%;
// }

// .column-left {
//   flex: 50%;
// }

// .review-box {
//   background: white;
//   border-radius: 20px;
//   padding: 10px;
//   margin-bottom: 15px;
//   margin-left: 2px;
// }

// @media(max-width: 992px) {
//   .container { width: 700px; }
// }

// @media(max-width: 768px) {
//   .container { width: 500px; }
// }

// @media(max-width: 480px) {
//   .container { width: 350px; }
// }
