@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

.supplies {
  padding: 30px;
  margin-top: 30px;
  border: 1px solid white;
  background-color: white;
}

.artwork {
  margin-top: 30px;
  padding: 30px;
  background-color: white;
  width: 33%;
}

.spotify {
  padding: 30px;
  margin-top: 30px;
  border: 1px solid white;
  background-color: white;
  width: 33%;

}

.rqr-code {
  padding: 30px;
  margin-top: 30px;
  border: 1px solid white;
  background-color: white;
  width: 33%;
}

.rqr-link:hover {
  text-decoration: none;
}

.share-booking {
  padding: 30px;
  margin-top: 30px;
  border: 1px solid white;
  background-color: white;

}

.show-booking-display-flex {
  display: flex;
}

.btn-submit-friend {
  width: 100%;
  background-color: #ef476f;
  color: white;
  font-style: bold;
}

.btn-submit-friend:hover {
  background-color: #ef476f;
  color: white;
  text-decoration: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#art-tag-para {
  color: #ef476f;
  font-size: 20px;

}

#qrc-host-color {
  color: #ef476f;
  font-size: 20px;

}


.rqr-code a {
  color: #293241;
}

.rqr-code a:hover {
  color: #e71d36;
}
