<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have been added to <%= @guest_booking.booking.experience.name %> with <%= @guest_booking.user.name %>!</p>
    <p>
    Experience details<br>
    </p>
    <br>
        Hello you were invaited to <%= @guest_booking.booking.experience.name %> with <%= @guest_booking.user.name %>!
    </p>
  </body>
</html>
