


<div class="container" id='experience_date'>
  <%= simple_form_for [@experience, @booking] do |f| %>
    <%= f.input :date, as: :string, required: false%>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
