<br>
<h1> Create a new booking </h1>
<br>
<%#= render "calendar" %>


<%= render "bookings/form", experience:@experience, booking:@booking %>

<%#= render "form" %>
<%= render :partial =>"reviews/new" %>

<p>For any inqueries - Ask the host:</p>

<%#= @svg.html_safe %>

