
<div id="pay-success-div">
  <br>
  <p> Your payment was successful. Your booking is now pending host approval. </p>
  <p> Your confirmation number is #<%=  %></p>
  <p> <%= link_to 'Click here to go to your user page', user_path(current_user.id) %> or <%= link_to 'See more experiences', experiences_path %></p>
</div>
