<div class="container">
  <div class="cards my-5">
    <div class="card-category" style="background-image: url('assets/cooking.png');">
      <div class="inner">
        <h4>Cooking</h4>
      </div>
    </div>
    <div class="card-category" style="background-image: url('assets/music.png');">
      <div class="inner">
        <h4>Music</h4>
      </div>
    </div>
    <div class="card-category" style="background-image: url('assets/art.png');">
      <div class="inner">
        <h4>Art</h4>
      </div>
    </div>
    <div class="card-category" style="background-image: url('assets/culture.png');">
      <div class="inner">
        <h4>Culture</h4>
      </div>
    </div>
    <div class="card-category" style="background-image: url('assets/kids.png');">
      <div class="inner">
        <h4>For Kids</h4>
      </div>
    </div>
    <div class="card-category" style="background-image: url('assets/show.png');">
      <div class="inner">
        <h4>Entertainment</h4>
      </div>
    </div>
  </div>
</div>

