<div class="footer">
  <div class="footer-contact">
    <a href="#"> / Contact us </a>
    <br>
    <a href="#"> / FAQ </a>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fas fa-envelope"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
  </div>
  <div class = "footer-tc">
    <a href="#"> / About us </a>
    <br>
    <a href="#"> / Terms and Conditions </a>
  </div>
</div>
