<%= render "shared/banner" %>
<div class="container">
  <div class="container text-center py-5">
    <h2> Welcome to The Home Holiday Experience </h2>
    <p> Are you an avid traveller, frustrated by the current restrictions on international trips? Or do you just fancy an escape from everyday life? </p>
  <%= render "shared/category_cards" %>
  </div>

</div>
