<div class="search__container">
    <%= form_tag experiences_path, :method => "get" do %>
    <input class="search__input" type="text" placeholder="Search by location, category..." <%= text_field_tag :query, params[:query], class: "form-control rounded-left" %>
     <% end %>
</div>
<br>
