<div class="container">
  <br>
  <h1> Edit your experience </h1>
  <br>
  <%= render "form" %>
</div>

<!--
document.getElementById('<%= dom_id(@experience) %>').insertAdjacentHTML('afterend', "<%#= j render 'inline_form', experience: @experience %>")
document.getElementById('<%= dom_id(@experience) %>').style.display = 'none'
 -->
