<div class="container">
  <h1>All experiences</h1>
  <br>
    <%= render "cards" %>
    <%#= link_to "remove", experience_path(experience), method: :delete %>
    <%#= link_to "Edit experience", edit_experience_path(experience) %>
  <br>
  <%= link_to "Add an experience", new_experience_path %>
</div>
<br>
