<div class="container">
  <h1>All experiences</h1>
  <br>
  <% @experiences.each do |experience| %>
    <%= experience.name %>
    <%= link_to "remove", experience_path(experience), method: :delete %>
    <%= link_to "Edit experience", edit_experience_path(experience) %>
  <% end %>
  <br>
  <%= link_to "Add an experience", new_experience_path %>
</div>
<br>
