<div class="container">
  <%= render "searchbar" %>
  <h1>All experiences</h1>
  <br>
    <%= render "cards" %>
    <%#= link_to "remove", experience_path(experience), method: :delete %>
    <%#= link_to "edit", edit_experience_path(experience) %>
  <br>
  <%= render "map" %>
  <%= link_to "Add an experience", new_experience_path %>
</div>
<br>
