<div class="container-fluid ">
    <%= render "searchbar" %>
  <div class="cards-area">
    <%= render "cards" %>
    <div class="map-div">
      <%= render "map" %>
    </div>
  </div>
  <br>
</div>



  <%#= link_to "Add an experience", new_experience_path %>
  <%#= link_to "remove", experience_path(experience), method: :delete %>
  <%#= link_to "edit", edit_experience_path(experience) %>
