<h1>Experiences#show</h1>
<%= @experience.name %>

<% @experience.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<%= link_to "Book this experience", new_experience_booking_path(@experience) %>
<%= link_to "Back to experiences", experiences_path %>
