.btn-banner {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FFBD59;
  transition: background 0.3s ease;
  border: 1px solid #4A4A4A;
}

.btn-banner:hover {
  color: white;
  border-color:#FFFFFF;
  text-decoration: none;
}


#button-booking {
  color: white !important;
  background-color: #FF9D0A !important;
  border-radius: 5px;
  width: 100%;
}


#button-booking:hover {
  color: white !important;
  background-color: #F59300 !important;
}


// #f94144
// #DA7F27
// #F59300
// #FF9D0A
