.card-request {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  width: 600px;
  height: 150px;
  // align-items: flex-start;
  border-radius: 10px;
}

// .card-info {
//   display: flex;
//   justify-content: space-around;
// }

.request-title {
  margin-left: 27px;
}

.booking-image {
  height: 150px;
  width: 150ppx;
  border-radius: 10px 0 0 10px;
}



#accept-button {
  text-decoration: none;
  opacity: 0.9;
  margin-left: 10px;
  width: 110px;
}

#accept-button a {
  text-decoration: none;
  color: black;
  opacity: 0.9;
}


#reject-button {
  text-decoration: none;
  opacity: 0.9;
  margin-left: 10px;
  width: 110px;
}

#reject-button a {
  text-decoration: none;
  color: black;
  opacity: 0.9;
}

#go-to-link a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffcdb2;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


#go-to-link a:hover {
  text-decoration: none;
  font-style: italic;
}


