.cards-list {
  z-index: 0;
  width: 100%;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  width: 300px;
  align-items: flex-start;
  border-radius: 10px;
  margin: 10px auto;
}


.card-photo {
  height: 170px;
}

.card-trip-infos {
  height: 135px;
  position: relative;
}

.card-trip-infos p {
  text-transform: uppercase;
}

.card-spec-info {
  background-color: $light-orange;
  height: 60px;
}

.card-trip:hover{
  transition: 0.5s;
  opacity: 0.7;
}

.cards-list a {
  text-decoration: none;
  color: black;
}

.avatar {
  text-decoration: none;
}

.card-image img {
  height: 170px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  margin: 0;
}

.delete {
  position: absolute;
  top: 10px;
  right: 10px;
}


.para a:hover {
  color: #DA7F27;
  transition: 0.5s;
}

.card-trip .card-trip-infos {
  padding: 5px;
}

.card-trip-infos:hover {
  text-decoration: none;
}

#booking-card-text-acc {
  color: #52b788;
}

#booking-card-text-rej {
  color: #f94144;
}

#booking-card-text-pen {
  color: #dda15e;
}

.confirm {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

#booking-card-delete {
  top: 7px;
  right: 7px;
  position: absolute;
}

.avatar-card {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.host-image {
  position: absolute;
  left: 10px;
  top: 10px;
  text-align: center;
}
.kid-friendly {
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
