body {
  background-image: url(https://loremflickr.com/g/1000/700/paris);
  background-size: cover;
}

.experience-page {
  color: white;
}

.info-card {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(240,240,240,.5);
  width: 200px;
}
