// possibly delete
// .cards-listing {
//   color: black;
//   display: grid;
//   grid-gap: 16px;
//   grid-template-columns: 1fr 1fr 1fr;
// }

// .card-listing {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   width: 225px;
//   height: 235px;
//   border-radius: 5px;
//   position: relative;
//   align-items: flex-start;
// }

// .card-listing:hover {
//   opacity: 0.7;
//   transition: 0.5s;
// }

// .cards-listing a {
//   text-decoration: none;
//   color: black;
// }

// .card-image_listing > img {
//   height: 160px;
//   width: 225px;
//   object-fit: cover;
// }

// .card-image_listing {
//   height: 160px;
//   width: 225px;
// }

// .card-listing h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
//   padding: 5px;
// }

// .card-listing p {
//   font-size: 12px;
//   margin: 0;
//   padding: 5px;
// }

.para-list {
  padding: 5px;
  top: 8px;
  right: 8px;
  position: absolute;
}

.para-list a:hover {
  color: #DA7F27;
  transition: 0.5s;
}

.card-listing .card-trip-infos {
  padding: 5px;
}

.card-trip-infos:hover {
  text-decoration: none;
}

#booking-card-text-acc {
  color: #52b788;
}

#booking-card-text-rej {
  color: #f94144;
}

#booking-card-text-pen {
  color: #dda15e;
}

.confirm {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

#booking-card-delete {
  top: 7px;
  right: 7px;
  position: absolute;
}

#icon-listing-ex {
  font-size: 90px;
  padding: 20px 70px;
  color: #dda15e;
}

.card-listing-infos h2 {
  padding: 0px;
}

.card-listing-infos h3 {
  font-size: 16px;
}
