// #map {
//   position: -webkit-sticky; /* Safari */
//   position: sticky;
//   top: 0;
//   width: auto;
//   // margin-top: 64px;
// }
.cards-area {
  display: flex;
}

.cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;
}

#map {
    height: 100vh;
    position: sticky;
    top: 0;
}

.map-div {
  padding-top: 24px
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards-list {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards-list {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

@media (min-width: 768px) {
  .cards-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: none;
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}
