// #map {
//   position: -webkit-sticky; /* Safari */
//   position: sticky;
//   top: 0;
//   width: auto;
//   // margin-top: 64px;
// }
.cards-area {
  display: flex;
}

// .cards-list {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap: 16px;
//   padding: 16px;
//   flex-grow: 1;
// }

#map {
    height: 100vh;
    position: sticky;
    top: 0;
    width: auto;
}

.mapboxgl-marker {
//   background-image: url('marker.png');
//   background-size: cover;
width: 50px;
height: 50px;
//   border-radius: 50%;
//   cursor: pointer;
}

.map-div {
  padding-top: 24px
}


.category-tag {
  cursor: pointer;
  padding: 5px 15px;
  margin: 5px;
  border-radius: 45px;
  border: 1px solid #ed6663;
  color: #43658b !important;
  opacity: 0.7;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.category-active {
  background-color: #43658b !important;
  color: white !important;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards-list {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards-list {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

@media (min-width: 768px) {
  .cards-list {
    grid-template-columns: 1fr 1fr ;
  }
  #map {
    display: block;
    flex-grow: 1;
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}
