.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #ffcdb2;
}

.btn-primary {
  background-color: #ffcdb2;
  border-color: #ffcdb2;
}

.btn-primary:hover {
  background-color: #ffcdb2;
  border-color: #ffcdb2;

}

.nav-item:hover {
  text-decoration: none;
  color: black;
}
